# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
Packages/
Package.pins
Package.resolved
*.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

ARStrike/ML/YOLOModels/yolo11xPose.mlpackage

# macOS files
.DS_Store
**/.DS_Store
.localized
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# DerivedData
DerivedData/

# Xcodeproj files that are often user-specific or generated
*.xcconfig
*.xcscmblueprint
*.xccheckout
*.xcsettings
*.xcuserstate

# Custom Build Settings
# If you have custom build settings that are specific to your local environment
# and not meant to be shared, you might want to ignore them.
# Example:
# /MyProject.xcodeproj/xcuserdata/*
# /MyProject.xcodeproj/project.xcworkspace/xcuserdata/*

# Crash Reports
# If you are debugging crashes, you might generate these
# *.crash
